./lm_eval_out/*
./evaluation_results/*
./__pycache__/*
./evals_outputs/*/*
.idea/*
/notebooks/
/wandb/*
/lm_eval_out/*
/distractors/*
/evals_outputs/*
eve-evaluation/*
/data/*
/uv.lock
/.env
/.python-version
scripts/evals.yaml
eve-evaluation/*
/scripts/fix_sapien_aggregates.py
/tasks/rag/
