repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.10
        files: ^(scripts|metrics|tasks)/.*\.py$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(scripts|metrics|tasks)/.*\.py$
      - id: ruff-format
        files: ^(scripts|metrics|tasks)/.*\.py$